/* 1 */
/* 23 */
* {
  padding: 0;
  margin: 0;
}
/* 19 */
body {
  color: #444;
  font-family: sans-serif;
  border-top: 5px solid #1098ad;
}

/* 35 */
.container {
  width: 700px;
  /* margin-left: auto;
  margin-right: auto; 
  The alternative way:
  */
  margin: 0 auto;
}
/* 2 */
h1 {
  font-size: 26px;
  /* 8
  font-family: sans-serif;
  */
  text-transform: uppercase;
  font-style: italic;
}

/* 3 */
h2 {
  font-size: 40px;
  /* 8 
  font-family: sans-serif;
  */
  /* 26 */
  margin-bottom: 30px;
}

/* 4 */
p {
  font-size: 22px;
  /* 8 
  font-family: sans-serif;
  */
  line-height: 1.5;
  /* 28 */
  margin-bottom: 15px;
}

/* 5 */
h3 {
  font-size: 30px;
  /* 8 
  font-family: sans-serif; 
  */
  /* 30 */
  margin-top: 40px;
  margin-bottom: 20px;
}

/* 6 */
h4 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}

/* 7 */
li {
  font-size: 22px;
  /* 8 
  font-family: sans-serif; 
  */

  /* 21 */
  margin-bottom: 10px;
}
/* 22 */
li:last-child {
  margin-bottom: 0px;
}

/* 8 */
/* 19 

h1,
h2,
h3,
h4,
li,
p {
  font-family: "sans-serif";
  /* 10 
  color: #444;
}

*/

/* 9 */
h1,
h2,
h3 {
  color: #1098ad;
}

/* 11 */
.related {
  list-style: none;
}

/* 12 */
.main-header {
  background-color: #f7f7f7;
  /* 20 */
  padding: 20px;
  /* 25 */
  margin-bottom: 60px;
  /* 33 */
  height: 80px;
}
/* 27 */
.post-header {
  margin-bottom: 30px;
}

/* 13 */
aside {
  background-color: #f7f7f7;
  border-top: 5px solid #1098ad;
  border-bottom: 5px solid #1098ad;
  /* 24 
  padding-top: 50px;
  padding-bottom: 50px;
  
  The alternative way:
  */
  padding: 50px 0px; /* top and bottom: 50px and left and right: 0px */
  /* 32 */
  width: 500px;
}

/* 14 */
a:link {
  color: #1098ad;
  text-decoration: none;
}

/* 15 */
a:visited {
  color: #1098ad;
  /* both color property of a:visited and a:link is we seperated for learning-purpose */
}

/* 16 */
a:hover {
  color: orangered;
  font-weight: bold;
  text-decoration: underline orangered;
}

/* 17 */
a:active {
  background-color: black;
  font-style: italic;
}

/* 18 */
#author {
  font-size: 18px;
  font-style: italic;
}

/* 29 */
ol,
ul {
  margin-left: 50px;
  margin-bottom: 20px;
}

/* 30 */
article {
  margin-bottom: 60px;
}

/* 34 */
.post-img {
  width: 100%;
  height: auto;
}